.div1 {
    width: 520px;
    height: 199px;
    border: 1px solid blue;
    position: relative;
    top: 29px;
    left: 29px;
    padding: 16px;

}

.div2 {
    width: 516px;
    height: 217px;
    border: 1px solid blue;
    position: relative;
    top: -193px;
    left: 657px;
    padding: 16px;
}


.div3 {
    width: 516px;
    height: 242px;
    border: 1px solid blue;
    position: relative;
    top: -158px;
    left: 42px;
    padding: 16px;
}


.div4 {
    width: 516px;
    height: 246px;
    border: 1px solid blue;
    position: relative;
    top: -399px;
    left: 647px;
    padding: 16px;
}
header
{
	font-family: inherit;
    text-align: -webkit-center;
}
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}